<div class="prog_title">
<div class="prog_title_eng">{{ label }}</div>
<div class="prog_title_chi">{{ node.field_prog_title_chi.value }}</div>
</div>



<div class="prog_general_info">
<table>
<tbody>
	<tr>
		<td><span class="prog_label">{{ node.field_admit_year.fieldDefinition.label }}</span></td><td><span class="prog_content">{{ node.field_admit_year.value }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">{{ node.field_mode_of_fund.fieldDefinition.label }}</span></td><td><span class="prog_content">{{ content.field_mode_of_fund[0]['#markup'] }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">{{ node.field_admit_prog_code.fieldDefinition.label }}</span></td><td><span class="prog_content"><b>{{ node.field_admit_prog_code.value }}</b></span></td>
	</tr>
	<tr>
		<td><span class="prog_label">{{ node.field_inter_award.fieldDefinition.label }}</span></td><td><span class="prog_content">{{ node.field_inter_award.value }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">{{ node.field_mode_of_study.fieldDefinition.label }}</span></td><td><span class="prog_content">{{ content.field_mode_of_study[0]['#markup'] }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">{{ node.field_class_schedule.fieldDefinition.label }}</span></td><td><span class="prog_content">{{ node.field_class_schedule.value }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">{{ node.field_intake_quota.fieldDefinition.label }}</span></td><td><span class="prog_content">{{ node.field_intake_quota.value }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">{{ node.field_min_credit_req.fieldDefinition.label }}</span></td><td><span class="prog_content">{{ node.field_min_credit_req.value }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">{{ node.field_duration.fieldDefinition.label }}</span></td><td><span class="prog_content">{{ node.field_duration.value }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">{{ node.field_duration_max.fieldDefinition.label }}</span></td><td><span class="prog_content">{{ node.field_duration_max.value }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">{{ node.field_url_website.fieldDefinition.label }}</span></td><td><span class="prog_content">{{ content.field_url_website[0] }}</span> </td>
	</tr>

        {% set count = node.field_url_social_media.getvalue | length %}
  	{% for i in 0..count-1 %}
    	  <tr class="prog_social_media">
      	    <td><span class="prog_label">{{ content.field_url_social_media[i]['#title'] }}</span></td>
	    <td><span class="prog_content"><a href="{{ content.field_url_social_media[i]['#url'] }}">{{ content.field_url_social_media[i]['#url'] }}</a></span></td>
    	  </tr>
  	{% endfor %}
	<tr>
		<td><span class="prog_label">{{ node.field_url_video.fieldDefinition.label }}</span></td><td><span class="prog_content">{{ content.field_url_video[0] }}</span> </td>
	</tr>
	<tr>
		<td><span class="prog_label">{{ node.field_know_more.fieldDefinition.label }}</span></td><td><span class="prog_content">{{ content.field_know_more[0] }}</span> </td>
	</tr>
	
	<tr class="prog_application_deadline">
		<td><span class="prog_label">{{ node.field_app_deadline.fieldDefinition.label }}</span></td>
		<td><span class="prog_content">
		  {{ node.field_app_deadline.value|date(format="d M Y") }} (Local)<br>
		  {{ node.field_app_deadline_nl.value|date(format="d M Y") }} (Non-local)
		</span> </td>
	</tr>
	
	<tr>
		<td><span class="prog_label">{{ node.field_mode_of_processing.fieldDefinition.label }}</span></td><td><span class="prog_content">{{ node.field_mode_of_processing.value }}</span></td>
	</tr>
	
	{% for item in node.field_staff_contact %}
	  <tr class="prog_staff">
      	    <td><span class="prog_label">{{ item.entity.field_staff_role.entity.name.value }}</span></td>
	    <td><span class="prog_content">
	          <b>{{ item.entity.field_staff_title.entity.name.value }} {{ item.entity.field_name.value }}</b><br>
		  <em>{{ item.entity.field_quali.value }}</em>
		  {{ item.entity.field_phone.value }}
		  {{ item.entity.field_email.value }}
	    
	    </span></td>
    	  </tr>
 	
	{% endfor %}


	<tr>
		<td><span class="prog_label">{{ node.field_general_enquiries.fieldDefinition.label }}</span></td>
		<td><span class="prog_content">
			{{ node.field_general_enquiries.value|raw }}
			{{ node.field_pcms_admit_office_email.value }}
		</span></td>
	</tr>
</tbody>
</table>
 
 
 
</div>
<div class="prog_remark">
	{{ content.field_remark }}

</div>
<div class="mos_remark">
	{{ node.field_mode_of_study_remark.value }}

</div>
<div class="prog_outline">
	{{ content.field_outline }}

</div>
